# Godot-specific ignores
.import/
/**/*.import


# Design Ignores
/design/RECOVER*.fla
/design/DataStore/
/design/DataStore/
/design/*.swf

# Export Ignores
exports/web/*
exports/web-ios/*
exports/android/*
exports/mac/*
exports/windows/*
exports/linux/*
exports/*.zip

# Android Export Ignore
xandroid

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~
