# Godot-specific ignores
.import/
/**/*.import


# Design Ignores
/design/RECOVER*.fla
/design/DataStore/
/design/DataStore/
/design/*.swf

# Export Ignores
docs/exports/web/*
docs/exports/android/*
docs/exports/mac/*
docs/exports/windows/*
docs/exports/linux/*
docs/exports/*.zip

# Android Export Ignore
xandroid

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~
