# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
/**/*.import

# Export Ignores
/knotris/exports/android/*
/knotris/exports/mac/*
/knotris/exports/windows/*
/knotris/exports/*.zip

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~
