body {
  background-color: #f7f7f7;
  margin: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008765;
  padding: 20px 0px;
}

#titleImage {
  height: 100%;
  width: auto;
  max-width: 100%;
}

.content {
  height: auto;
  min-height: calc(100% - 300px);
  width: 100%;
  position: relative;
  padding: 10px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.knotrisContainer {
  width: 520px;
  height: 560px;
  background: white;
  position: relative;
}

@media screen and (max-width: 500px) {
  .knotrisContainer {
    width: 375px;
    height: 403px;
  }

  .header {
    padding: 20px;
  }
}

@media screen and (min-width: 1800px) and (min-height: 1000px) {
  .knotrisContainer {
    width: 910px;
    height: 980px;
  }
}

@media screen and (min-width: 3000px) and (min-height: 2000px) {
  .knotrisContainer {
    width: 1846px;
    height: 1988px;
  }
}

#knotris {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

.footer {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #807060;
}

.projectByContainer {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  padding: 5px;
  width: auto;
  height: 100px;
}

.logo {
  width: auto;
  height: 100%;
}
