body {
  font-family: "Hammersmith One", sans-serif;
  color: #fff;
  background-color: #9cbffb;
  margin: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.navMenu {
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navButton {
  margin: 0 25px;
  border-bottom: 5px solid #fff;
  width: 125px;
  text-align: center;
  cursor: pointer;
}

#titleImage {
  height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 10px;
}

.content {
  height: auto;
  min-height: calc(100% - 430px);
  width: 100%;
  position: relative;
  padding: 30px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.knotrisContainer {
  width: 520px;
  height: 560px;
  background: white;
  position: relative;
  border-radius: 10px;
  border: 7px solid white;
}

.knotrisInfo {
  margin: 5px;
  margin-top: 30px;
  background-color: rgba(1, 1, 1, 0.1);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  border: 3px solid #fff;
  max-width: 40%;
}

a,
a:hover,
a:visited {
  color: #9000c9;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .knotrisContainer {
    width: 375px;
    height: 403px;
  }

  .header {
    padding: 20px;
  }

  .knotrisInfo {
    max-width: calc(100% - 10px);
  }

  .howToPlay {
    justify-content: center;
  }

  .popUp iframe {
    max-height: 50%;
  }

  .popUp h1 {
    font-size: 24px;
  }

  .popUp p {
    max-width: 100%;
    font-size: 18px;
  }
}

@media screen and (min-width: 1800px) and (min-height: 1000px) {
  .knotrisContainer {
    width: 910px;
    height: 980px;
  }
}

@media screen and (min-width: 3000px) and (min-height: 2000px) {
  .knotrisContainer {
    width: 1846px;
    height: 1988px;
  }
}

#knotris {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.popUp {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  min-height: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.7);
  border-radius: 10px;
  padding: 20px;
}

.popUp .copy {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  overflow-y: scroll;
  overflow-x: none;
}

.popUp h1 {
  font-size: 48px;
}

.popUp p {
  font-size: 24px;
}

.popUp a {
  color: #ce6dff;
}

.popUp .exitPopup {
  background-image: url("./assets/exit.png");
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  margin: 15px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.popUp iframe {
  width: 100%;
  height: 50%;
  min-height: 200px;
  flex-grow: 10;
}

.footer {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  margin-top: 20px;
}

.projectByContainer {
  height: 100%;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-right: 20px;
}

.logoContainer {
  padding: 10px;
  width: auto;
  height: 50px;
}

.logo {
  width: auto;
  height: 100%;
}
